# required
fastapi==0.70.0
gunicorn==20.1.0
pydantic==1.8.2
uvicorn==0.15.0
sentry-sdk==0.19.5
python-multipart==0.0.5

# ORM
SQLAlchemy==1.4.19
SQLAlchemy-Paginator
sqlparse==0.4.1

# performance
flake8==4.0.1
psycopg2==2.9.3
alembic==1.7.7